In [1]:
import pandas as pd
from pandas import DataFrame, Series

In [20]:
def parse_row(row):
    return {
        'station': row[0:11],
        'month': row[12:14],
        'day': row[15:17],
        '00': float(row[18:23])/10,
        '01': float(row[25:30])/10,
        '02': float(row[32:37])/10,
        '03': float(row[39:44])/10,
        '04': float(row[46:51])/10,
        '05': float(row[53:58])/10,
        '06': float(row[60:65])/10,
        '07': float(row[67:72])/10,
        '08': float(row[74:79])/10,
        '09': float(row[81:86])/10,
        '10': float(row[88:93])/10,
        '11': float(row[95:100])/10,
        '12': float(row[102:107])/10,
        '13': float(row[109:114])/10,
        '14': float(row[116:121])/10,
        '15': float(row[123:128])/10,
        '16': float(row[130:135])/10,
        '17': float(row[137:142])/10,
        '18': float(row[144:149])/10,
        '19': float(row[151:156])/10,
        '20': float(row[158:163])/10,
        '21': float(row[165:170])/10,
        '22': float(row[172:177])/10,
        '23': float(row[179:184])/10,
    }

In [37]:
dewp = pd.read_csv('/Users/tjl/Downloads/hly-dewp-normal.txt', header=None, delimiter='\t')
temp = pd.read_csv('/Users/tjl/Downloads/hly-temp-normal.txt', header=None, delimiter='\t')
wind = pd.read_csv('/Users/tjl/Downloads/hly-wind-avgspd.txt', header=None, delimiter='\t')
df_dewp = DataFrame(dewp[0].apply(parse_row).to_dict()).T
df_temp = DataFrame(temp[0].apply(parse_row).to_dict()).T
df_wind = DataFrame(wind[0].apply(parse_row).to_dict()).T

In [38]:
df_dewp.shape, df_temp.shape, df_wind.shape

((166805, 27), (166805, 27), (166805, 27))

In [39]:
df = pd.merge(df_dewp, df_temp, on=['station', 'month', 'day'], suffixes=('_d', '_t'))
df.head(5)

,00_d,01_d,02_d,03_d,04_d,05_d,06_d,07_d,08_d,09_d,...,14_t,15_t,16_t,17_t,18_t,19_t,20_t,21_t,22_t,23_t
0,75.7,75.8,75.7,75.6,75.5,75.5,75.4,76.1,76.6,76.8,...,85.7,85.4,84.9,84.3,83.5,82.4,81.7,81.3,80.9,80.8
1,75.6,75.8,75.7,75.6,75.5,75.4,75.3,76.1,76.6,76.8,...,85.8,85.4,84.9,84.3,83.4,82.4,81.7,81.3,80.9,80.7
2,75.6,75.8,75.7,75.5,75.5,75.4,75.4,76.1,76.6,76.8,...,85.8,85.4,85,84.4,83.5,82.4,81.7,81.3,80.9,80.8
3,75.6,75.8,75.7,75.6,75.5,75.4,75.4,76.1,76.6,76.8,...,85.8,85.4,85,84.4,83.5,82.4,81.8,81.3,81,80.9
4,-999.9,75.8,75.7,75.6,75.5,75.5,75.4,76.1,76.6,76.8,...,85.8,85.5,85.1,84.4,83.5,82.5,81.8,81.4,81,80.9

In [40]:
df_wind.columns = [x+'_w' for x in df_wind.columns if x not in ['day', 'month', 'station']] + ['day', 'month', 'station']
df_wind.columns

Index([u'00_w', u'01_w', u'02_w', u'03_w', u'04_w', u'05_w', u'06_w', u'07_w', u'08_w', u'09_w', u'10_w', u'11_w', u'12_w', u'13_w', u'14_w', u'15_w', u'16_w', u'17_w', u'18_w', u'19_w', u'20_w', u'21_w', u'22_w', u'23_w', u'day', u'month', u'station'], dtype='object')

In [41]:
df = pd.merge(df, df_wind, on=['station', 'month', 'day'])
df.head(5)

,00_d,01_d,02_d,03_d,04_d,05_d,06_d,07_d,08_d,09_d,...,14_w,15_w,16_w,17_w,18_w,19_w,20_w,21_w,22_w,23_w
0,75.7,75.8,75.7,75.6,75.5,75.5,75.4,76.1,76.6,76.8,...,11.7,11.7,11.3,10.9,10.7,10.1,9.5,9.1,9.1,9.3
1,75.6,75.8,75.7,75.6,75.5,75.4,75.3,76.1,76.6,76.8,...,11.6,11.6,11.3,10.8,10.5,9.9,9.4,8.9,9,9.2
2,75.6,75.8,75.7,75.5,75.5,75.4,75.4,76.1,76.6,76.8,...,11.6,11.5,11.2,10.7,10.5,9.9,9.4,9,9,9.1
3,75.6,75.8,75.7,75.6,75.5,75.4,75.4,76.1,76.6,76.8,...,11.5,11.5,11.2,10.8,10.5,10,9.5,9,9,9.2
4,-999.9,75.8,75.7,75.6,75.5,75.5,75.4,76.1,76.6,76.8,...,11.6,11.6,11.3,10.9,10.6,10.1,9.6,9.1,9,9.2

In [45]:
def calc_mean(row):
    nums = []
    if abs(row['00']) < 500: nums.append(row['00'])
    if abs(row['01']) < 500: nums.append(row['01'])
    if abs(row['02']) < 500: nums.append(row['02'])
    if abs(row['03']) < 500: nums.append(row['03'])
    if abs(row['04']) < 500: nums.append(row['04'])
    if abs(row['05']) < 500: nums.append(row['05'])
    if abs(row['06']) < 500: nums.append(row['06'])
    if abs(row['07']) < 500: nums.append(row['07'])
    if abs(row['08']) < 500: nums.append(row['08'])
    if abs(row['09']) < 500: nums.append(row['09'])
    if abs(row['10']) < 500: nums.append(row['10'])
    if abs(row['11']) < 500: nums.append(row['11'])
    if abs(row['12']) < 500: nums.append(row['12'])
    if abs(row['13']) < 500: nums.append(row['13'])
    if abs(row['14']) < 500: nums.append(row['14'])
    if abs(row['15']) < 500: nums.append(row['15'])
    if abs(row['16']) < 500: nums.append(row['16'])
    if abs(row['17']) < 500: nums.append(row['17'])
    if abs(row['18']) < 500: nums.append(row['18'])
    if abs(row['19']) < 500: nums.append(row['19'])
    if abs(row['20']) < 500: nums.append(row['20'])
    if abs(row['21']) < 500: nums.append(row['21'])
    if abs(row['22']) < 500: nums.append(row['22'])
    if abs(row['23']) < 500: nums.append(row['23'])
    return sum(nums) / len(nums) if len(nums) > 0 else 0

df['00'] = df['00_d'] + df['00_t'] - df['00_w']
df['01'] = df['01_d'] + df['01_t'] - df['01_w']
df['02'] = df['02_d'] + df['02_t'] - df['02_w']
df['03'] = df['03_d'] + df['03_t'] - df['03_w']
df['04'] = df['04_d'] + df['04_t'] - df['04_w']
df['05'] = df['05_d'] + df['05_t'] - df['05_w']
df['06'] = df['06_d'] + df['06_t'] - df['06_w']
df['07'] = df['07_d'] + df['07_t'] - df['07_w']
df['08'] = df['08_d'] + df['08_t'] - df['08_w']
df['09'] = df['09_d'] + df['09_t'] - df['09_w']
df['10'] = df['10_d'] + df['10_t'] - df['10_w']
df['11'] = df['11_d'] + df['11_t'] - df['11_w']
df['12'] = df['12_d'] + df['12_t'] - df['12_w']
df['13'] = df['13_d'] + df['13_t'] - df['13_w']
df['14'] = df['14_d'] + df['14_t'] - df['14_w']
df['15'] = df['15_d'] + df['15_t'] - df['15_w']
df['16'] = df['16_d'] + df['16_t'] - df['16_w']
df['17'] = df['17_d'] + df['17_t'] - df['17_w']
df['18'] = df['18_d'] + df['18_t'] - df['18_w']
df['19'] = df['19_d'] + df['19_t'] - df['19_w']
df['20'] = df['20_d'] + df['20_t'] - df['20_w']
df['21'] = df['21_d'] + df['21_t'] - df['21_w']
df['22'] = df['22_d'] + df['22_t'] - df['22_w']
df['23'] = df['23_d'] + df['23_t'] - df['23_w']
df['mean'] = df.apply(calc_mean, axis=1)

In [55]:
# subset = df[['station', 'month', 'day', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']]
subset = df[['station', 'month', 'day', 'mean']][(df['mean'] > 90) & (df['mean'] < 135)]
subset.head(5)

          station month day       mean
3797  USC00244558    05  28  90.137500
3798  USC00244558    05  29  90.875000
3799  USC00244558    05  30  91.258333
3800  USC00244558    05  31  91.495833
3801  USC00244558    06  01  91.695833

In [56]:
subset.shape

(67118, 4)

In [57]:
subset.station.unique()

array(['USC00244558', 'USW00003103', 'USW00003159', 'USW00003160',
       'USW00003162', 'USW00003810', 'USW00003811', 'USW00003812',
       'USW00003813', 'USW00003816', 'USW00003820', 'USW00003822',
       'USW00003847', 'USW00003850', 'USW00003852', 'USW00003855',
       'USW00003856', 'USW00003860', 'USW00003870', 'USW00003872',
       'USW00003887', 'USW00003888', 'USW00003889', 'USW00003902',
       'USW00003904', 'USW00003919', 'USW00003923', 'USW00003927',
       'USW00003928', 'USW00003930', 'USW00003931', 'USW00003935',
       'USW00003937', 'USW00003940', 'USW00003945', 'USW00003947',
       'USW00004724', 'USW00004725', 'USW00004743', 'USW00004751',
       'USW00004781', 'USW00004787', 'USW00012810', 'USW00012815',
       'USW00012816', 'USW00012826', 'USW00012834', 'USW00012835',
       'USW00012836', 'USW00012838', 'USW00012839', 'USW00012842',
       'USW00012843', 'USW00012844', 'USW00012849', 'USW00012850',
       'USW00012873', 'USW00012888', 'USW00012906', 'USW00012909',
       'USW00012911', 'USW00012912', 'USW00012916', 'USW00012917',
       'USW00012918', 'USW00012919', 'USW00012921', 'USW00012924',
       'USW00012926', 'USW00012959', 'USW00012960', 'USW00012962',
       'USW00013702', 'USW00013705', 'USW00013707', 'USW00013713',
       'USW00013714', 'USW00013721', 'USW00013722', 'USW00013723',
       'USW00013729', 'USW00013733', 'USW00013734', 'USW00013735',
       'USW00013736', 'USW00013737', 'USW00013739', 'USW00013740',
       'USW00013741', 'USW00013743', 'USW00013744', 'USW00013748',
       'USW00013750', 'USW00013754', 'USW00013769', 'USW00013773',
       'USW00013781', 'USW00013802', 'USW00013806', 'USW00013807',
       'USW00013810', 'USW00013820', 'USW00013824', 'USW00013825',
       'USW00013829', 'USW00013840', 'USW00013846', 'USW00013849',
       'USW00013857', 'USW00013858', 'USW00013860', 'USW00013865',
       'USW00013866', 'USW00013869', 'USW00013871', 'USW00013873',
       'USW00013874', 'USW00013876', 'USW00013877', 'USW00013880',
       'USW00013881', 'USW00013882', 'USW00013883', 'USW00013889',
       'USW00013891', 'USW00013893', 'USW00013894', 'USW00013895',
       'USW00013896', 'USW00013897', 'USW00013899', 'USW00013904',
       'USW00013919', 'USW00013930', 'USW00013942', 'USW00013944',
       'USW00013957', 'USW00013958', 'USW00013959', 'USW00013960',
       'USW00013961', 'USW00013962', 'USW00013963', 'USW00013964',
       'USW00013966', 'USW00013967', 'USW00013968', 'USW00013970',
       'USW00013976', 'USW00013977', 'USW00013978', 'USW00013984',
       'USW00013985', 'USW00013987', 'USW00013994', 'USW00013995',
       'USW00013996', 'USW00014605', 'USW00014606', 'USW00014607',
       'USW00014611', 'USW00014706', 'USW00014711', 'USW00014732',
       'USW00014733', 'USW00014734', 'USW00014735', 'USW00014736',
       'USW00014737', 'USW00014739', 'USW00014740', 'USW00014742',
       'USW00014745', 'USW00014748', 'USW00014757', 'USW00014762',
       'USW00014764', 'USW00014765', 'USW00014768', 'USW00014771',
       'USW00014777', 'USW00014778', 'USW00014804', 'USW00014819',
       'USW00014820', 'USW00014821', 'USW00014822', 'USW00014825',
       'USW00014826', 'USW00014827', 'USW00014835', 'USW00014836',
       'USW00014837', 'USW00014839', 'USW00014840', 'USW00014841',
       'USW00014842', 'USW00014845', 'USW00014847', 'USW00014848',
       'USW00014850', 'USW00014852', 'USW00014858', 'USW00014860',
       'USW00014891', 'USW00014895', 'USW00014898', 'USW00014910',
       'USW00014913', 'USW00014914', 'USW00014916', 'USW00014918',
       'USW00014920', 'USW00014922', 'USW00014923', 'USW00014925',
       'USW00014926', 'USW00014929', 'USW00014931', 'USW00014933',
       'USW00014935', 'USW00014936', 'USW00014939', 'USW00014940',
       'USW00014941', 'USW00014942', 'USW00014943', 'USW00014944',
       'USW00014949', 'USW00014950', 'USW00014990', 'USW00014991',
       'USW00014992', 'USW00021504', 'USW00022001', 'USW00022010',
       'USW00022514', 'USW00022516', 'USW00022519', 'USW00022521',
       'USW00022536', 'USW00023002', 'USW00023007', 'USW00023008',
       'USW00023009', 'USW00023023', 'USW00023034', 'USW00023036',
       'USW00023042', 'USW00023044', 'USW00023047', 'USW00023050',
       'USW00023051', 'USW00023055', 'USW00023064', 'USW00023065',
       'USW00023066', 'USW00023070', 'USW00023081', 'USW00023090',
       'USW00023109', 'USW00023112', 'USW00023119', 'USW00023129',
       'USW00023152', 'USW00023154', 'USW00023155', 'USW00023157',
       'USW00023160', 'USW00023169', 'USW00023174', 'USW00023183',
       'USW00023185', 'USW00023187', 'USW00023188', 'USW00023194',
       'USW00023195', 'USW00023202', 'USW00023225', 'USW00023230',
       'USW00023232', 'USW00023233', 'USW00023234', 'USW00023237',
       'USW00023273', 'USW00024006', 'USW00024011', 'USW00024013',
       'USW00024018', 'USW00024021', 'USW00024023', 'USW00024025',
       'USW00024028', 'USW00024029', 'USW00024030', 'USW00024032',
       'USW00024033', 'USW00024037', 'USW00024046', 'USW00024089',
       'USW00024090', 'USW00024101', 'USW00024106', 'USW00024114',
       'USW00024121', 'USW00024127', 'USW00024128', 'USW00024131',
       'USW00024132', 'USW00024143', 'USW00024144', 'USW00024149',
       'USW00024152', 'USW00024153', 'USW00024155', 'USW00024156',
       'USW00024157', 'USW00024160', 'USW00024164', 'USW00024201',
       'USW00024207', 'USW00024215', 'USW00024216', 'USW00024217',
       'USW00024221', 'USW00024225', 'USW00024227', 'USW00024229',
       'USW00024230', 'USW00024232', 'USW00024233', 'USW00024234',
       'USW00024235', 'USW00024237', 'USW00024243', 'USW00024257',
       'USW00024283', 'USW00024284', 'USW00025308', 'USW00025309',
       'USW00025325', 'USW00025333', 'USW00025339', 'USW00025501',
       'USW00025503', 'USW00025507', 'USW00026401', 'USW00026409',
       'USW00026410', 'USW00026411', 'USW00026412', 'USW00026415',
       'USW00026425', 'USW00026442', 'USW00026451', 'USW00026501',
       'USW00026510', 'USW00026523', 'USW00026528', 'USW00026533',
       'USW00026615', 'USW00026616', 'USW00026617', 'USW00053860',
       'USW00093033', 'USW00093037', 'USW00093045', 'USW00093058',
       'USW00093112', 'USW00093129', 'USW00093167', 'USW00093193',
       'USW00093209', 'USW00093225', 'USW00093719', 'USW00093720',
       'USW00093721', 'USW00093727', 'USW00093729', 'USW00093730',
       'USW00093737', 'USW00093738', 'USW00093739', 'USW00093741',
       'USW00093801', 'USW00093805', 'USW00093806', 'USW00093808',
       'USW00093812', 'USW00093814', 'USW00093815', 'USW00093817',
       'USW00093819', 'USW00093820', 'USW00093821', 'USW00093822',
       'USW00093824', 'USW00093831', 'USW00093837', 'USW00093842',
       'USW00093845', 'USW00093862', 'USW00093919', 'USW00093950',
       'USW00093987', 'USW00093989', 'USW00093993', 'USW00093997',
       'USW00094008', 'USW00094011', 'USW00094012', 'USW00094014',
       'USW00094023', 'USW00094176', 'USW00094185', 'USW00094224',
       'USW00094236', 'USW00094239', 'USW00094240', 'USW00094261',
       'USW00094702', 'USW00094705', 'USW00094732', 'USW00094741',
       'USW00094745', 'USW00094746', 'USW00094789', 'USW00094790',
       'USW00094814', 'USW00094822', 'USW00094823', 'USW00094830',
       'USW00094846', 'USW00094847', 'USW00094849', 'USW00094860',
       'USW00094892', 'USW00094908', 'USW00094910', 'USW00094925',
       'USW00094931'], dtype=object)

In [ ]:
#
# - currently have the mean DEWP + TEMP - WIND score for every station
# - need to find which stations have the most days with the current wide range of desirable temperatures
# - narrow range from there
#